@charset "UTF-8";
/*
* Nome do Tema: Template-01
* Nome do Arquivo/Template: style.css
* Número da Versão: 0.0.4
* Pacote: servir-no-mundo
* Descrição: Folha de estilo principal.
* Autor: Alexandre Kozoubsky
* Data da Criação (dd/mm/yyyy): 06/10/2023
* Última Atualização  (dd/mm/yyyy): 06/10/2023
* Notas:
	- Inclua notas adicionais relevantes, como informações sobre dependências, bibliotecas utilizadas, ou qualquer coisa que possa ser útil para a equipe de desenvolvimento.
	- Você pode usar este espaço para documentar mudanças significativas feitas na página.
*/

/* Importar a fonte do Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	
	/*
	Body — Default foreground (color) and background, including components.
	https://getbootstrap.com/docs/5.3/customize/color/
	*/
	
	--bs-body-color: #000000;
	--bs-body-color-rgb: 0,128,0;
	
	/*
	Primary — Main theme color, used for hyperlinks, focus styles, and component and form active states.
	https://getbootstrap.com/docs/5.3/customize/color/
	*/
	--bs-primary: #A184C3;
	--bs-primary-rgb: 161,132,195;
	
	--bs-link-color: #A184C3;
	--bs-link-color-rgb: 161,132,195;
    --bs-link-hover-color: #80699c;
    --bs-link-hover-color-rgb: 128,105,156;	
	
	
	
	/*
	Secondary — Use the color option for lighter text. Use the bg option for dividers and to indicate disabled component states.
	https://getbootstrap.com/docs/5.3/customize/color/
	*/
	/*
	--bs-secondary-color:;
	--bs-secondary-color-rgb:;
	*/
	
}



body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

h1 {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}


/**
 * Site Structure
 *
 */

/**
 * Navigation
 *
 */

 
/**
 * Text
 *
 */
 

/**
 * Links
 *
 */
a {
    transition: color 0.3s ease-in-out;
}

/**
 * Buttons
 *
 */
 

/**
 * FontAwesome
 *
 */

/**
 * Images
 *
 */
 

/**
 * Templates
 *
 */

/* ----- Home Page ----- */


/**
 * Colors
 *
 */

/*
1. **Paleta de cores**:
   - 
   - 
   - 
   - 
*/


/* Menu principal */


/* Icones */