@charset "UTF-8";
/*
* Nome do Tema: Servir no Mundo - Templates
* Nome do Arquivo/Template: style.css
* Número da Versão: 0.0.7
* Pacote: servir-no-mundo
* Descrição: Folha de estilo principal.
* Autor: Alexandre Kozoubsky
* Data da Criação (dd/mm/yyyy): 06/10/2023
* Última Atualização  (dd/mm/yyyy): 06/10/2023
* Notas:
	- Inclua notas adicionais relevantes, como informações sobre dependências, bibliotecas utilizadas, ou qualquer coisa que possa ser útil para a equipe de desenvolvimento.
	- Você pode usar este espaço para documentar mudanças significativas feitas na página.
*/

/* Importar a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	/*
	--bs-body-font-size: 18px;
	--bs-body-font-family):;
	--bs-body-font-size):;
	--bs-body-font-weight):;
	--bs-body-line-height):;
	--bs-body-color):;
	--bs-body-text-align):;
	--bs-body-bg):;
	*/
	
	/*
	Body — Default foreground (color) and background, including components.
	https://getbootstrap.com/docs/5.3/customize/color/
	*/
	
	--bs-body-color: #000000;
	--bs-body-color-rgb: 0,128,0;
	
	/*
	Primary — Main theme color, used for hyperlinks, focus styles, and component and form active states.
	https://getbootstrap.com/docs/5.3/customize/color/
	*/
	--bs-primary: #555555;
	--bs-primary-rgb: 85,85,85;
	
	--bs-link-color: #555555;
	--bs-link-color-rgb: 85,85,85;
    --bs-link-hover-color: #000000;
    --bs-link-hover-color-rgb: 0,0,0;
	
	/*
	Secondary — Use the color option for lighter text. Use the bg option for dividers and to indicate disabled component states.
	https://getbootstrap.com/docs/5.3/customize/color/
	*/
	/*
	--bs-secondary-color:;
	--bs-secondary-color-rgb:;
	*/
}

html {
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 1.125rem;
}

body {
    
}

/**
 * Site Structure
 *
 */

/**
 * Navigation
 *
 */

 
/**
 * Text
 *
 */
 

/**
 * Links
 *
 */
a {
    transition: color 0.3s ease-in-out;
}

a:hover {
    font-weight: bold;
}


/**
 * Buttons
 *
 */
 

/**
 * FontAwesome
 *
 */

/**
 * Images
 *
 */
 

/**
 * Templates
 *
 */

/* ----- Home Page ----- */


/**
 * Colors
 *
 */

/*
1. **Paleta de cores**:
   - 
   - 
   - 
   - 
*/


/* Menu principal */


/* Icones */